/*
 * @Author: liyou
 * @Date: 2021-06-04 17:31:40
 * @LastEditors: zhangchenyang
 * @LastEditTime: 2022-06-13 15:37:45
 */

@riseColor : #F5222D;

// 无边框无背景的按钮
.noBorderButton {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}
