@import '../../common/styles/main.less';

.rootContainer {
  background: #fff;
  width: 100%;

  .sectionContainer {
    overflow: hidden;

    .contentContainer {
      height: 100%;

      .content {
        background: #F3F4F7;
      }
    }
  }

  // ant design message组件全局样式修改
  :global {
    .global-ant-message {
      .ant-message-notice-content {
        min-width: 760px;
        text-align: left;
        height: 48px;
        padding: 0;

        .ant-message-custom-content {
          height: 100%;
          line-height: 46px;
          padding: 0 24px;

          .anticon {
            width: 16px;
            height: 16px;

            svg {
              display: none;
            }
          }
        }

        .ant-message-success {
          background: #E5F6F3;
          color: #03AD8F;

          .anticon {
            background: url('../../assets/images/success_fill_icon.svg');
          }
        }

        .ant-message-error {
          background: #FEF4F4;
          color: #F5222D;

          .anticon {
            background: url('../../assets/images/error_fill_icon.svg');
          }
        }
      }
    }
  }
}

.tmisGlobalEmpty {
  text-align: center;
  margin: 50px 0;

  img {
    width: 87px;
    margin-bottom: 5px;
  }

  p {
    color: #CAD3DE;
  }
}